<app-nav></app-nav>
<br>
<br>
<br>
<div class="container mt-5" style="padding-top: 150px;">
    <div class="row">
      <form [formGroup]="productForm" (ngSubmit)="onUpdateProduct()">
        
        <div class="mb-3 row">
          <label for="productName" class="col-sm-2 col-form-label">Product Name:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="productName" value="{{sellerData.productName}}">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="price" class="col-sm-2 col-form-label">Current Product Price:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="oldprice"  value="{{sellerData.price}}">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="newPrice" class="col-sm-2 col-form-label">New Product Price</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="price" formControlName="price" placeholder="Enter new price">
            <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
              Price is required and must be a positive number.
            </div>
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="availableQuantity" class="col-sm-2 col-form-label">Available Quantity:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="availableQuantity"  value="{{sellerData.availableQuantity}}">
          </div>
        </div>
  
        <div class="mb-3 row">
          <label for="addQuantity" class="col-sm-2 col-form-label">Add Quantity</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="addQuantity" formControlName="quantity" placeholder="Enter quantity to add">
            <div *ngIf="productForm.get('addQuantity')?.invalid && productForm.get('addQuantity')?.touched" class="text-danger">
              Quantity is required and must be a positive number.
            </div>
          </div>
        </div>
  
        <div class="mb-3 row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary" >Update</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  

  