<div class="container mt-5 pt-5">
    <h1 class="display-6 fw-bold text-center mb-5">Customer SignUp</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="customerloginForm" (ngSubmit)="onSubmit()">

                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                    <div *ngIf="customerloginForm.get('name')?.invalid && (customerloginForm.get('name')?.touched || customerloginForm.get('name')?.dirty)" class="text-danger">
                        Customer Name is required.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                    <div *ngIf="customerloginForm.get('email')?.invalid && (customerloginForm.get('email')?.touched || customerloginForm.get('email')?.dirty)" class="text-danger">
                        Email is required.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Contact Number</label>
                    <input type="tel" class="form-control" formControlName="phoneNumber" placeholder="Enter Contact Number">
                    <div *ngIf="customerloginForm.get('phoneNumber')?.invalid && (customerloginForm.get('phoneNumber')?.touched || customerloginForm.get('contactNumber')?.dirty)" class="text-danger">
                        Contact number is required.
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                    <div *ngIf="customerloginForm.get('password')?.invalid && (customerloginForm.get('password')?.touched || customerloginForm.get('password')?.dirty)" class="text-danger">
                        Password is required.
                    </div>
                </div>

                <button type="submit" class="btn btn-success" [disabled]="customerloginForm.invalid">Sign Up</button>
            </form>
        </div>
    </div>
</div>
