<div class="container mt-5" style="padding-top: 150px;  "> 
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Product Name: {{ product.productName }}</h5>
                    <p class="card-text">Available Quantity: {{ product.availableQuantity }}</p>
                    <p class="card-text">Price: ${{ product.price }}</p>
                    <p class="card-text">Seller product Id: {{ product.sellerProductId}}</p>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Details" (click)="setProducts(product)">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="Details" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Product Name:{{sellerData?.productName}}
          <br>
          
          Quantity:{{sellerData?.availableQuantity}}
          <br>
          Price:{{sellerData?.price}}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="#UpdateDelete" routerLinkActive="active" (click)="rout()">Update/Delete</button>
      </div>
    </div>
  </div>
</div>
  