<div class="container  center-container">
    <div class="row d-flex ">
        <div class="col text-center">
            <h3>Choose your Role ....</h3>
            <div class="">
                <button class="btn btn-success btn-block b mt-5 " routerLink="/customer/login"
                    routerLinkActive="active">Customer</button>
                <button class="btn btn-success btn-block b " routerLink="/seller/login"
                    routerLinkActive="active">Seller</button>
            </div>
        </div>
    </div>
</div>