<app-nav></app-nav>
<div class="container mt-5 pt-5">
    <h1 class="display-6 fw-bold text-center mb-5">Purchase History</h1>
    <div class="row justify-content-center">
        <div class="col-md-8"> <!-- Adjusted to make it wider -->
            <div class="form-group mb-3">
                <!-- <label for="productSelect">Select Product</label> -->
                <ng-select 
                    [items]="products" 
                    bindLabel="productName.value" 
                    bindValue="id" 
                    [placeholder]="'Select a product'"
                    (change)="onProductChange($event)"
                   >
                    <ng-option [value]="0">All Products</ng-option> 
                </ng-select>
               
            </div>

            <h2 *ngIf="selectedProductName" class="text-center">Orders for {{ selectedProductName }}</h2>

            <table class="table table-striped table-bordered">
                <thead class="thead-light"> <!-- Bootstrap class for header styling -->
                    <tr>
                        <th>Order ID</th>
                        <th>Customer ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Sub Price</th>
                        <th>Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.orderId.value }}</td>
                        <td>{{ order.customerId.value }}</td>
                        <td>{{ order.productName.value }}</td>
                        <td>{{ order.quantity.value}}</td>
                        <td>{{ order.subPrice.value }}</td>
                        <td>{{ order.date.value }}</td>
                    </tr>
                    <tr *ngIf="orders.length === 0">
                        <td colspan="6" class="text-center">No orders found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
